@model QuanLyCuaHangSach.Models.GioHang

@{
    ViewData["Title"] = "Thanh toán";
}

<h2 class="text-center">Xác nhận thanh toán</h2>

@if (Model.ChiTietGioHangs.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Hình ảnh</th>
                <th>Tên sách</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ChiTietGioHangs)
            {
                <tr>
                    <td>
                        <img src="@(item.Sach.HinhAnh ?? "/images/sach/default.jpg")" alt="@item.Sach.TieuDe" style="width: 50px; height: 50px; object-fit: cover;" />
                    </td>
                    <td>@item.Sach.TieuDe</td>
                    <td>@item.Sach.Gia.ToString("N0") đ</td>
                    <td>@item.SoLuong</td>
                    <td>@(item.SoLuong * item.Sach.Gia) đ</td>
                </tr>
            }

            <!-- Dòng tổng tiền -->
            <tr>
                <td colspan="4" class="text-end"><b>Tổng tiền:</b></td>
                <td><b>@ViewBag.TongTien.ToString("N0") đ</b></td>
            </tr>
        </tbody>
    </table>
            <tr>
        <form action="/Payment/CreatePaymentUrl" id="frmCreateOrder" method="POST">
            <input type="hidden" name="FullName" value="@User.Identity.Name" />
            <input type="hidden" name="Amount" value="@ViewBag.TongTien.ToString("N0")" />
            <input type="hidden" name="OrderInfo" value="Thanh toán đặt hàng qua Momo" />
            <input type="hidden" name="OrderId" value="@Guid.NewGuid().ToString()" />

            <button type="submit" class="btn btn-danger">Pay with MoMo</button>
        </form>
            </tr>
    @* <form id="formThanhToan" method="post" action="/ThanhToan/ThucHienThanhToan"> *@
    @*     <input type="hidden" name="tongTien" value="@ViewBag.TongTien" /> *@
    @*     <div class="mb-3"> *@
    @*         <label class="form-label"><b>Chọn phương thức thanh toán:</b></label> *@
    @*         <form method="POST" asp-action="CreatePaymentUrlVnpay" asp-controller="Payment"> *@
    @*             <input type="hidden" name="Name" value="@User.Identity.Name" /> *@
    @*             <input type="hidden" name="Amount" value="" /> *@
    @*             <input type="hidden" name="OrderDescription" value="Thanh toán qua VNPAY" /> *@
    @*             <input type="hidden" name="OrderType" value="order" /> *@
    @*             <button class="btn btn-success" type="submit">Thanh toán VNPAY</button> *@
    @*         </form> *@
    @*     </div> *@
    @*     <button type="submit" class="btn btn-success w-100">Xác nhận thanh toán</button> *@
    @* </form> *@


}
else
{
    <p class="text-center text-danger">Giỏ hàng của bạn đang trống!</p>
}
